<div class="top-bar">
  <a href="mailto:contact@globaltieup.com">contact@globaltieup.com</a> |
  <a href="tel:+919393898933">+91 9393898933</a>
</div>

<div class="nav-bar">
  <img src="assets/logo.png" alt="Global Tie-Up Logo" class="logo">
  <ul>
    <li><a href="#">ABOUTS</a></li>
    <li><a href="#">BUSINESS SOLUTIONS</a></li>
    <li><a href="#">SERVICES</a></li>
    <li><a href="#">INDUSTRIES</a></li>
    <li><a href="#">TECHNOLOGIES</a></li>
    <li><a href="#">PORTFOLIO</a></li>
  </ul>
  <a href="#" class="contact-button">CONTACT</a>
</div>
