.container {
    width: 80%;
    margin: 50px auto;
    min-height: 200px;

}
.container ul {
display: flex;
align-items: center;
justify-content: space-around;
min-height: 200px;
padding: 20px;
}
.container ul li {  
    width: 250px;
  
    min-height: 300px;
    text-align: center;
    list-style-type: none;
    border: solid 1px #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
.container ul li img {
width:100%;
height: 150px;
}